<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.baozi.boot.dao.mapper.StatisticsMapper">

  <resultMap id="BaseResultMap" type="fun.baozi.boot.domain.Statistics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_visit" jdbcType="BIGINT" property="userVisit" />
    <result column="daily_user_visit" jdbcType="BIGINT" property="dailyUserVisit" />
    <result column="statistic_time" jdbcType="TIMESTAMP" property="statisticTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <sql id="selectAllField">
    select id, user_visit, daily_user_visit, statistic_time, `create_time`, modify_time
    from statistics
  </sql>
  <select id="searchLatest" resultType="Statistics" parameterType="Map">
    <include refid="selectAllField"/>
    order by create_time desc
    limit 1
  </select>
</mapper>